/* SettingsModal.module.css */
.ant-modal {
    color: #fff;
}

.ant-modal-header {
    background-color: #333;
    border-bottom: 1px solid #444;
}

.ant-modal-title {
    color: #1DB954;
}

.ant-modal-footer {
    background-color: #333;
}

.ant-input,
.ant-select {
    background-color: #2C353A;
    border-color: #444;
    color: #fff;
}

.ant-btn {
    background-color: #1DB954;
    color: #fff;
    border: none;
}

.ant-btn:hover {
    background-color: #1A9E4D;
}