.container {
    border: 2px solid #00FF00;
    background-color: #000;
    color: #00FF00;
    padding: 15px;
    max-width: 1200px;
    height: 99vh;
    /* Limit the height to 95vh */
    margin: 5px auto;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    /* Align content in a column */
    overflow: hidden;
    /* Prevent content from overflowing */
}

.startSimBtn {
    background-color: #00FF00;
    color: black;
}



.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;

}

.gridContainer {
    min-height: 125px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 15px;
    flex-grow: 1;
    /* Allow the grid container to expand and take available space */
    overflow-y: auto;
    /* Allow the content to scroll if it exceeds the height */
}

.panel {
    border: 1px solid #00FF00;
    flex-shrink: 0;
    /* Prevent shrinking of panels */
}

.panelHeader {
    background-color: rgba(0, 255, 0, 0.1);
    padding: 5px;
    border-bottom: 1px solid #00FF00;
}

.panelHeader h2 {
    margin: 0;
    text-transform: uppercase;
    font-size: 1em;
}

.panelContent {
    padding: 15px;
}

.statRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.positiveChange {
    color: green;
}

.negativeChange {
    color: red;
}

.buyTrades {
    color: green;
}

.sellTrades {
    color: red;
}

.chartPanel {
    border: 1px solid #00FF00;
    flex-shrink: 0;
    /* Prevent chart panel from shrinking */
}

.chartContainer {
    padding: 15px;
    flex-grow: 1;
    /* Allow chart container to grow */
}

.footer {
    margin-top: 15px;
    border-top: 1px solid #00FF00;
    padding-top: 10px;
    text-align: right;
}

.loadingContainer {
    background-color: #000;
    color: #00FF00;
    border: 2px solid #00FF00;
    padding: 15px;
    text-align: center;
    animation: blink 1s infinite;
}

.toggleButton {
    background-color: #000;
    color: #00FF00;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}